__pycache__/
*.py[cod]
*.so
*.egg-info/

results/
model_zoo/swinir/*.pth
experiments/pretrained_models/*.pth

.venv/
venv/
env/

.DS_Store
*.log

.ipynb_checkpoints/
input_cog_temp/
*.png
*.jpg
*.bmp
